APP_NAME=Pastilla Control Backend
APP_ENV=dev
API_V1_PREFIX=/api/v1

DB_HOST=db
DB_PORT=3306
DB_USER=pastilla
DB_PASSWORD=pastilla
DB_NAME=pastilla_control

JWT_SECRET_KEY=change_this_secret
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
